skybot:
  skypename: "<skybot skypename>"
  plugin_dir: "<full path to plugins>"
  filter_dir: "<full path to filters>""
  log_dir: "<full path of log dir>"
  base_dir: "<base path of the project>"
  async_cmd: "<relative path and filename of async command>"
  server_port: <port>
  